<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Near-Real-Time
    </ion-title>
    <ion-button (click)="refreshData()" slot="end">
      ricarica
      <ion-icon name="refresh-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">NRT ARPAC</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container"></div>

  <div *ngIf="this.custom == undefined">
    <ion-card>
      <ion-card-content>
        <ion-card-title>Scegli una stazione in impostazioni</ion-card-title>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="this.custom != undefined">
    <ion-item-group>
      <ion-item>
        <ion-title>
          {{this.custom.descrizione}}
        </ion-title>
      </ion-item>
      <ion-item *ngFor="let inq of this.custom.inquinanti" >
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-title>
                {{inq.inquinante}}
              </ion-title>
            </ion-col>
            <ion-col id="valore{{inq}}" [ngStyle]="{'color': getColore(inq.inquinante)}"> 
                {{inq.dati[inq.dati.length-1].valore}} {{inq.um}}
            </ion-col>
            <ion-col> 
              {{inq.dati[inq.dati.length-1].data_ora}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>

<ion-footer *ngIf="this.lastFetch != undefined" style="bottom: 0;">
  <ion-card>
    <ion-card-content>
      <ion-card-title>Ultimo aggiornamento</ion-card-title>
      <ion-card-subtitle>{{this.lastFetch}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-footer>
