<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>
            Near Real Time Campania ARPAC
          </ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="refresh()" size="small" >
            Ricarica
            <ion-icon  name="refresh-circle-outline"></ion-icon>
          </ion-button>
          <ion-button [routerLink]="['../search']" size="small">
            Ricerca
            <ion-icon name="search-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Stazioni</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="this.chosenStazione" (ionChange)="ngChangeSelectStazione($event)">
      <ion-select-option *ngFor="let stazioni of nrt_array; trackBy: trackByFn" [value]="stazioni.stazione" >{{stazioni.descrizione}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card>
    <ion-card-header>
      Stazione preferita:
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>
              <b>{{this.chosenStazioneData.descrizione}}</b>
              <br>
              ({{this.chosenStazioneData.stazione}})
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let inq of this.chosenStazioneData.inquinanti">
          <ion-col>
            <ion-label (click)="changeView(chosenStazione,inq.inquinante)">
              Inquinante: {{inq.inquinante}}
            </ion-label>
            <ion-row id="{{chosenStazione}}{{inq.inquinante}}" style="display: none;">
              <ion-row *ngFor="let inqList of inq.dati">
                {{inqList.valore}} {{inq.um}} {{inqList.data_ora.substring(0,19)}}
              </ion-row>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Last Update: {{this.lastDown}}
    </ion-card-header>
    <ion-card-content>
      <!--
      <ion-button expand="full" style="bottom: 0px;" (click)="startBGmode()">
        Monitoraggio in Backgroung
      </ion-button>
      -->
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-toggle expand="full" style="bottom: 0px;" [(ngModel)]="this.getNotification" (ionChange)="changedNotificationChoice()">
              </ion-toggle>
            </ion-col>
            <ion-col>
              Ricevi notifiche
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      
    </ion-card-content>
  </ion-card>

</ion-content>

